html {
	font-size: 16px;
}

/* BASE STYLES */

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;

	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-flow: row wrap;
	text-align: left;
}

h1,
h2,
h3 {
				color: black;
				text-transform: uppercase;
				font-weight: 700;
}
h1 {
				font-size: 1.4em;


}
h2 {
				font-size: 1.1em;
}
h3 {
				font-size: 0.75em;
}

p {
				font-size: 0.87em;
				line-height: 1.31em;
				padding: 0 .5em 0 .5em;


}

			/*The widths are in a percentage!*/
header {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;
				text-align: center;
}

header h1 {
				width: 100%;
				padding-bottom: 1em;
				border-bottom: .3em solid #77a466;

}
header h1 span {
				color: #77a466;
}

header nav ul {
				margin: 0;
				padding: 0;
}
header nav ul li {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.87em;
				list-style-type: none;
}
header nav ul li a {
				text-decoration: none;
				color: #77a466;
				display: flex;
				width: 100%;
				align-items: center;
				flex-flow: row;
				justify-content: center;
				padding-bottom: .5em;
				list-style-type: none;
}

			/*The widths are in a percentage!*/
.top-section,
.bottom-section {
				display: flex;
				justify-content: left;
				align-items: flex-start;
				flex-flow: row wrap;
				flex-direction: row;
}

.main-image {
				height: auto;
}

.main-image img {
				width: 100%;
				padding-top: 1.5em;

}

.main-title {
				height: auto;
}

.main-title h2 {
				text-align: left;
				padding: 5px 0;
				color: #77a466;
}
.main-title p {
				text-align: left;
				font-size: 1em;
				line-height: 1.56em;
				border-bottom: .18 solid #77a466;
}

.section-one,
.section-two,
.section-three {
				width: 100%;
				height: auto;
				border-top: 0.187em solid #eee;

}

.section-one h3 {
				padding: 0.62em 0;
				display: flex;
				padding-left: .9em;
}

.section-two {
				border-top: 0.2em solid #eee;
}

.section-two p {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	flex-flow: row wrap;
}


.section-two h3,
.section-three h3 {
				padding: 0.62em 1.87em;
				display: flex;
}

.menu {
				list-style: none;
				padding: 0;
}
.menu li {
				padding: 0.62em 0;
				color: #77a466;
				display: flex;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	text-align: left;
	padding-left: .5em;
}

			/*The widths are in a percentage!*/
footer {
				height: 3.12em;
				border-top: 0.187em solid #eee;
				width: 100%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;

}

footer span {
				font-family: 'Galada', cursive;
				text-transform: lowercase;
				color: #77a466;
				font-size: 0.87em;
}



@media all and (min-width:768px) {
  /* Tablet styles here */

.bottom-section {
	display: flex;
	flex-basis: 100%;
	flex-direction: row;
	justify-content: left;
	align-items: flex-start;

}

.section-one,
.section-two,
.section-three {
	flex-basis: 33%;
	justify-content: left;
	flex-direction: row nowrap;

}

.section-one,
.section-two {
	border-right: .1em solid #eee;

}

.section-two,
.section-three {
	padding-left: .11em;

}

}

@media all and (min-width: 1200px) {
/* code for laptops and desktops   */

header {
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	padding-top: 2em;
}

header h1 {
	width: 30%;
	border-bottom: none;
}

header nav ul {
	display: flex;
	flex-basis: 70%;
	justify-content: space-around;

}

header nav ul li a {
	padding-right: 1em;
}

.section-one,
.section-two {
	width: 100%;
	border-right: .11em solid #eee;
}

.section-two,
.section-three {
	padding-left: .19em;

}

}
