html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
  max-width: 1200px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-flow: row wrap;
	text-align: left;
}

h1,
h2,
h3 {
				color: black;
				text-transform: uppercase;
				font-weight: 700;
}
h1 {
				font-size: 1.4em;


}
h2 {
				font-size: 1.1em;
}
h3 {
				font-size: 0.75em;
}

p {
				font-size: 0.87em;
				line-height: 1.31em;
				padding: 0 .5em 0 .5em;


}

			/*The widths are in a percentage!*/
header {

				border-bottom: 0.187em solid #77a466;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;
				text-align: center;
}

header h1 {
				width: 90%;
				border-bottom: .2em solid green;
				padding-bottom: 1em;
				padding-left: 2.5em;
}
header h1 span {
				color: #77a466;
}

header nav ul {
				margin: 0;
				padding: 0;
}
header nav ul li {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 0.87em;
				list-style-type: none;
}
header nav ul li a {
				text-decoration: none;
				color:#77a466;
				display: flex;
				width: 100%;
				align-items: center;
				flex-flow: row;
				justify-content: center;
				padding-bottom: .5em;
				list-style-type: none;
}

			/*The widths are in a percentage!*/
.top-section,
.bottom-section {
				display: flex;
				justify-content: left;
				align-items: left;
				flex-flow: row wrap;
				flex-direction: row;
}

.main-image {
				height: auto;
}

.main-image img {
				width: 90%;
}

.main-title {
				height: auto;
}

.main-title h2 {
				text-align: left;
				padding: 5px 0;
				color: #77a466;
}
.main-title p {
				text-align: center;
				font-size: 1em;
				line-height: 1.56em;
				border-bottom: 0.18 solid green;
}

.section-one,
.section-two,
.section-three {
				width: 100%;
				height: auto;
				border-top: 0.187em solid green;

}

.section-one h3 {
				padding: 0.62em 0;
				display: flex;
				padding-left: .9em;
}

.section-two {
				border-top: 0.2em solid #00b33c;
				border-bottom: 0.2em solid #00b33c;
}
.section-two p {
	display: flex;
	justify-content: left;
	align-items: left;
	flex-flow: row wrap;
}


.section-two h3,
.section-three h3 {
				padding: 0.62em 1.87em;
				display: flex;
}

.menu {
				list-style: none;
				padding: 0;
}
.menu li {
				padding: 0.62em 0;
				color:#77a466;
				display: flex;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	text-align: left;
	padding-left: .5em;
}

			/*The widths are in a percentage!*/
footer {
				height: 3.12em;
				border-top: 0.187em solid #00b33c;
				width: 90%;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-flow: row wrap;

}

footer span {
				font-family: 'Galada', cursive;
				text-transform: lowercase;
				color: #77a466;
				font-size: 0.87em;
	}

}


@media (min-width: 1200px) {
/* code for laptops and desktops   */

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	align-items: center;
	flex-flow: row wrap;
}

.container {
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.9em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.87em;
	line-height: 1.31em;
    padding: 0 1.87em;
}

/*The widths are in a percentage!*/
header {

	border-bottom: 0.187em solid #77a466;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	width: 50%;
	padding: 2.38em 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 2.88em 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.87em;
	padding: 0 0.62em;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	max-width: 1200px
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;

}

.main-image {
	height: auto;
}

.main-image img {
	width: 100%;
	border-bottom: 0.187em solid #77a466;
}

.main-title {
	height: auto;
}

.main-title h2 {
	text-align: left;
	padding: 0.31em 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.56em;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: auto;
	border-top: 0.062em solid #eee;
}

.section-one h3 {
	padding: 0.62em 0;
}

.section-two {
	border-left: 0.062em solid #eee;
	border-right: 0.062em solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 0.62em 1.87em;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0.62em 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.31em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	height: 3.12em;
	border-top: 0.187em solid #eee;
	width: 90%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row;
}

footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.87em;
}

}
